{% load static%}
<style>
    .a{
    width:200px;
    height:300px;
    border: 1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin:15px;
    }
    h4{
     border: 1px solid black;
     }
    img{
    width:80px;}

</style>
{%if task%}
{% for tasks in user.task.all %}
<tr>
      <th>
         <h5>{{tasks.task_name}}</h5>
      </th>
      <th>
         <h5>{{tasks.task_desc}}</h5>
      </th>
          <th>
         <h5>{{tasks.task_complited}}</h5>
      </th>
      <th><button><i class="fas fa-edit"></i></button></th>
     <th><button><i class="fas fa-user-times"></i></button>
      </th>
 </tr>
{%endfor%}
{%endif%}
</html>